<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>{{title}}</title>

		<!-- Styles -->
		<!-- Latest compiled and minified Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/style.css" >

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    	<!--[if lt IE 9]>
      		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    	<![endif]-->

    	<style type="text/css">
    		html, body {
			  height: 100%;
			  margin: 0;
			  padding: 0;
			}
			body {
				padding-top: 70px;
			}

			#map {
			  height: 100%;
			}

			.map-container {
				height: 400px;
			}

			#nav-logo {
				width: 150px;
				background-color: #2b2b2b;
			}
    	</style>

	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button
						type="button"
						class="navbar-toggle collapsed"
						data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false"
					>
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">
						<img id="nav-logo" src="" alt=""></img>
					</a>
				</div> <!-- .navbar-header -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class=""><a href="#">Map</a></li>
						<li><a href="#">Link</a></li>
					</ul>
				</div> <!-- .navbar-collapse -->
			</div> <!-- .container-fluid -->
		</div> <!-- .navbar -->

		<div id="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 offset-3 map-container">
						<div id="map"></div>
					</div>
				</div>
			</div> <!-- .container -->
		</div> <!-- #content -->

		<!-- Scripts -->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<script type="text/javascript">
			// This example creates a simple polygon representing the Bermuda Triangle. Note
			// that the code specifies only three LatLng coordinates for the polygon. The
			// API automatically draws a stroke connecting the last LatLng back to the first
			// LatLng.
			function initMap() {
				console.log('Initializing Google Map...')
			  var map = new google.maps.Map(document.getElementById('map'), {
			    zoom: 4,
			    center: {lat: 24.886, lng: -70.268},
			    mapTypeId: google.maps.MapTypeId.TERRAIN
			  });

			  // Define the LatLng coordinates for the polygon's path. Note that there's
			  // no need to specify the final coordinates to complete the polygon, because
			  // The Google Maps JavaScript API will automatically draw the closing side.
			  var triangleCoords = [
			    {lat: 25.774, lng: -80.190},
			    {lat: 18.466, lng: -66.118},
			    {lat: 32.321, lng: -64.757}
			  ];

			  var bermudaTriangle = new google.maps.Polygon({
			    paths: triangleCoords,
			    strokeColor: '#FF0000',
			    strokeOpacity: 0.8,
			    strokeWeight: 3,
			    fillColor: '#FF0000',
			    fillOpacity: 0.35
			  });
			  bermudaTriangle.setMap(map);
			}
		</script>
		<!-- Replace the value of the key parameter with your own API key. -->
		<script async defer
			src="https://maps.googleapis.com/maps/api/js?client=gme-closetbox&callback=initMap">
		</script>
	</body>
</html>
